@font-face {
    font-family: "Noto";
    src: url("../fonts/NotoSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #0b0fe7 #c0cccc;
    font-family: 'Noto';
}

body {
    background: url(../img/background.jpg);
    background-size: 100%;
}

table {
    font-family: "Noto";
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 90%;
    overflow: auto;
}

table caption {
    margin-bottom: 17px;
    font-size: 17px;
    letter-spacing: 2px;
}

th {
    background: #6498ff;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
}

th,
td {
    padding: 10px;
    border: 1px solid white;
}

td {
    background: #bdd9f4;
}

.edit-main {
    width: 20px;
    height: 20px;
}

.edit-logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.modal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    z-index: 2;
}

.detailing {
    position: relative;
    display: block;
    margin: auto;
    top: 15%;
    width: 90%;
    height: 70%;
    border: 1px solid black;
    background-color: #e9f7f0;
    overflow: auto;
}

.detailing-pos {
    font-size: 14px;
}

textarea {
    font-size: 14px;
}

.requests {
    margin-top: 5%;
}

.table-caption {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.admin-year {
    display: block;
    margin-left: 7%;
    margin-top: 3%;
}

.admin-year select {
    color: #0b0fe7;
    background-color: #fff;
    width: 6em;
    height: 2em;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    border: 1px solid #0b0fe7;
    cursor: pointer;
}

.admin-year select option {
    color: #0b0fe7;
    text-align: center;
    font-size: 1.1em;
    background: white;
}

.show-btn {
    width: 7em;
    height: 2.5em;
    text-align: center;
    font-size: inherit;
    letter-spacing: 1px;
    color: #fff;
    background-color: #5188f6;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    transition: 0.3s;
}

.show-btn:hover {
    color: #0b0fe7;
    background-color: white;
    border: 1px solid #6498ff;
    transition: 0.3s;
    box-shadow: 10px 10px 5px #6498ff;
}

.show-btn:focus {
    color: white;
    background-color: #6498ff;
    border: 1px solid white;
    transition: 0.2s;
}


/* profile */

.user-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    top: 3%;
}

.user-title {
    position: relative;
    top: 1em;
    display: flex;
    align-items: center;
    width: 22em;
    margin-left: auto;
    /* margin-top: 1em; */
}

.user-logo {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.user-name {
    display: block;
    width: 300px;
    margin-top: 5%;
    margin-left: 3%;
    font-size: 1em;
}

.create-btn {
    display: block;
    margin: auto;
    margin-top: 5rem;
    width: 8rem;
    height: 3rem;
    border: 1px solid grey;
    border-radius: 12px;
    background-color: #36ff4d;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    letter-spacing: 1.3px;
}

.create-btn:hover {
    background-color: white;
    border: 1px solid #0b0fe7;
    box-shadow: 10px 10px 5px #36ff4d;
}

.exit-btn {
    display: block;
    margin-left: auto;
    margin-right: 3em;
    font-size: 1em;
    background-color: #FF2400;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 12em;
    height: 2em;
    margin-top: 5em;
}

.exit-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #0b0fe7;
    box-shadow: 10px 10px 5px #FF2400;
}

.user-modal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    z-index: 2;
}

.user-profile {
    position: relative;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    top: 10%;
    width: 35%;
    height: 80%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: auto;
}

.profile-logo {
    display: block;
    width: 6em;
    height: 6em;
    margin: auto;
    margin-top: 1.5em;
}

.profile-info {
    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
}

.profile-exit-btn {
    display: block;
    margin: auto;
    margin-top: 3em;
    font-size: 1em;
    background-color: #FF2400;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 12em;
    height: 2em;
}

.profile-exit-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #0b0fe7;
    box-shadow: 10px 10px 5px #FF2400;
}

.close-logo {
    position: absolute;
    cursor: pointer;
    top: 1.5%;
    right: 1.5%;
    width: 2em;
    height: 2em;
}

.not-request {
    display: block;
    text-align: center;
    margin-top: 5em;
}

.not-request h1 {
    display: block;
    margin-bottom: 0.7em;
}

.not-request img {
    display: block;
    margin: auto;
    width: 5em;
    height: 5em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 20px;
}

#save-btn {
    display: block;
    background-color: greenyellow;
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#save-btn:hover {
    border: 1px solid black;
    background-color: white;
}

#cancel-btn {
    display: block;
    background-color: yellow;
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#cancel-btn:hover {
    border: 1px solid black;
    background-color: white;
}

#delete-btn {
    display: block;
    background-color: #FF2400;
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#delete-btn:hover {
    border: 1px solid black;
    background-color: white;
}

.excel-link {
    display: block;
    position: absolute;
    left: 45%;
}